<a href="https://colab.research.google.com/github/KhanDoors/colab-notebooks/blob/main/titantic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
# Load the csv into a dataframe
titanic_df = spark.read.csv("train.csv", header=True, inferSchema=True)
titanic_df

+-----------+----+-------+---+-----+-----+-----+-----+-----+-----+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+--------+------+------+--------+
|Passengerid| Age|   Fare|Sex|sibsp|zero5|zero6|zero7|zero8|zero9|zero10|zero11|Parch|zero13|zero14|zero15|zero16|zero17|zero18|zero19|zero20|Pclass|zero22|zero23|Embarked|zero25|zero26|2urvived|
+-----------+----+-------+---+-----+-----+-----+-----+-----+-----+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+--------+------+------+--------+
|          1|22.0|   7.25|  0|    1|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|          2|38.0|71.2833|  1|    1|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|       0|     0|     0|       1|
|          3|26.0|  7.925|  1|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       1|
|          4|35.0|   53.1|  1|    1|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|       2|     0|     0|       1|
|          5|35.0|   8.05|  0|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|          6|28.0| 8.4583|  0|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       1|     0|     0|       0|
|          7|54.0|51.8625|  0|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|       2|     0|     0|       0|
|          8| 2.0| 21.075|  0|    3|    0|    0|    0|    0|    0|     0|     0|    1|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|          9|27.0|11.1333|  1|    0|    0|    0|    0|    0|    0|     0|     0|    2|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       1|
|         10|14.0|30.0708|  1|    1|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     2|     0|     0|       0|     0|     0|       1|
|         11| 4.0|   16.7|  1|    1|    0|    0|    0|    0|    0|     0|     0|    1|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       1|
|         12|58.0|  26.55|  1|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|       2|     0|     0|       1|
|         13|20.0|   8.05|  0|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|         14|39.0| 31.275|  0|    1|    0|    0|    0|    0|    0|     0|     0|    5|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|         15|14.0| 7.8542|  1|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|         16|55.0|   16.0|  1|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     2|     0|     0|       2|     0|     0|       1|
|         17| 2.0| 29.125|  0|    4|    0|    0|    0|    0|    0|     0|     0|    1|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       1|     0|     0|       0|
|         18|28.0|   13.0|  0|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     2|     0|     0|       2|     0|     0|       1|
|         19|31.0|   18.0|  1|    1|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       2|     0|     0|       0|
|         20|28.0|  7.225|  1|    0|    0|    0|    0|    0|    0|     0|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     3|     0|     0|       0|     0|     0|       1|
+-----------+----+-------+---+-----+-----+-----+-----+-----+-----+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+--------+------+------+--------+
only showing top 20 rows

In [ ]:
titanic_df.printSchema()

root
 |-- Passengerid: integer (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- zero5: integer (nullable = true)
 |-- zero6: integer (nullable = true)
 |-- zero7: integer (nullable = true)
 |-- zero8: integer (nullable = true)
 |-- zero9: integer (nullable = true)
 |-- zero10: integer (nullable = true)
 |-- zero11: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- zero13: integer (nullable = true)
 |-- zero14: integer (nullable = true)
 |-- zero15: integer (nullable = true)
 |-- zero16: integer (nullable = true)
 |-- zero17: integer (nullable = true)
 |-- zero18: integer (nullable = true)
 |-- zero19: integer (nullable = true)
 |-- zero20: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- zero22: integer (nullable = true)
 |-- zero23: integer (nullable = true)
 |-- Embarked: integer (nullable = true)
 |-- zero25: integer (nullable = true)
 |-- zero26: integer (nullable = true)
 |-- 2urvived: integer (nullable = true)

In [ ]:
from pyspark.sql.functions import col

In [ ]:
cols=("zero5","zero6","zero7","zero8","zero9","zero10","zero11","zero13","zero14","zero15","zero16","zero17","zero18","zero19","zero20", "zero22","zero23", "zero25","zero26")

In [ ]:
cleaned_df=titanic_df.drop(*cols)

In [ ]:
cleaned_df.show()

+-----------+----+-------+---+-----+-----+------+--------+--------+
|Passengerid| Age|   Fare|Sex|sibsp|Parch|Pclass|Embarked|2urvived|
+-----------+----+-------+---+-----+-----+------+--------+--------+
|          1|22.0|   7.25|  0|    1|    0|     3|       2|       0|
|          2|38.0|71.2833|  1|    1|    0|     1|       0|       1|
|          3|26.0|  7.925|  1|    0|    0|     3|       2|       1|
|          4|35.0|   53.1|  1|    1|    0|     1|       2|       1|
|          5|35.0|   8.05|  0|    0|    0|     3|       2|       0|
|          6|28.0| 8.4583|  0|    0|    0|     3|       1|       0|
|          7|54.0|51.8625|  0|    0|    0|     1|       2|       0|
|          8| 2.0| 21.075|  0|    3|    1|     3|       2|       0|
|          9|27.0|11.1333|  1|    0|    2|     3|       2|       1|
|         10|14.0|30.0708|  1|    1|    0|     2|       0|       1|
|         11| 4.0|   16.7|  1|    1|    1|     3|       2|       1|
|         12|58.0|  26.55|  1|    0|    0|     1|       2|       1|
|         13|20.0|   8.05|  0|    0|    0|     3|       2|       0|
|         14|39.0| 31.275|  0|    1|    5|     3|       2|       0|
|         15|14.0| 7.8542|  1|    0|    0|     3|       2|       0|
|         16|55.0|   16.0|  1|    0|    0|     2|       2|       1|
|         17| 2.0| 29.125|  0|    4|    1|     3|       1|       0|
|         18|28.0|   13.0|  0|    0|    0|     2|       2|       1|
|         19|31.0|   18.0|  1|    1|    0|     3|       2|       0|
|         20|28.0|  7.225|  1|    0|    0|     3|       0|       1|
+-----------+----+-------+---+-----+-----+------+--------+--------+
only showing top 20 rows

In [ ]:
cleaned_df.where(cleaned_df.Age>25)

+-----------+----+-------+---+-----+-----+------+--------+--------+
|Passengerid| Age|   Fare|Sex|sibsp|Parch|Pclass|Embarked|2urvived|
+-----------+----+-------+---+-----+-----+------+--------+--------+
|          2|38.0|71.2833|  1|    1|    0|     1|       0|       1|
|          3|26.0|  7.925|  1|    0|    0|     3|       2|       1|
|          4|35.0|   53.1|  1|    1|    0|     1|       2|       1|
|          5|35.0|   8.05|  0|    0|    0|     3|       2|       0|
|          6|28.0| 8.4583|  0|    0|    0|     3|       1|       0|
|          7|54.0|51.8625|  0|    0|    0|     1|       2|       0|
|          9|27.0|11.1333|  1|    0|    2|     3|       2|       1|
|         12|58.0|  26.55|  1|    0|    0|     1|       2|       1|
|         14|39.0| 31.275|  0|    1|    5|     3|       2|       0|
|         16|55.0|   16.0|  1|    0|    0|     2|       2|       1|
|         18|28.0|   13.0|  0|    0|    0|     2|       2|       1|
|         19|31.0|   18.0|  1|    1|    0|     3|       2|       0|
|         20|28.0|  7.225|  1|    0|    0|     3|       0|       1|
|         21|35.0|   26.0|  0|    0|    0|     2|       2|       0|
|         22|34.0|   13.0|  0|    0|    0|     2|       2|       1|
|         24|28.0|   35.5|  0|    0|    0|     1|       2|       1|
|         26|38.0|31.3875|  1|    1|    5|     3|       2|       1|
|         27|28.0|  7.225|  0|    0|    0|     3|       0|       0|
|         29|28.0| 7.8792|  1|    0|    0|     3|       1|       1|
|         30|28.0| 7.8958|  0|    0|    0|     3|       2|       0|
+-----------+----+-------+---+-----+-----+------+--------+--------+
only showing top 20 rows